<br>
<br>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col" style="margin: 0 auto; display: flex; justify-content: center;">
    <h3>Welcome to <strong>SHARE</strong> Curate</h3>
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col" style="margin: 0 auto; display: flex; justify-content: center;">
    {{#mdl-button action="authenticate"}}
      Login via OSF to Begin
    {{/mdl-button}}
  </div>
</div>
